<nav>
  <ul>
    <li class="<%= currentRoute === '/' ? 'active' : '' %>"> <a href="/">HOME</a></li>
    <li class="<%= currentRoute === '/users' ? 'active' : '' %>"> <a href="/users">Users</a></li>
    <li class="<%= currentRoute === '/jobs' ? 'active' : '' %>"> <a href="/jobs">Jobs</a></li>
    <li class="<%= currentRoute === '/gallery' ? 'active' : '' %>"> <a href="/gallery">Gallery</a></li>
    <li class="<%= currentRoute === '/contacts' ? 'active' : '' %>"> <a href="/contacts">Contact</a></li>
  </ul>
</nav>
