<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>Yaqin aloqalarim</h1>
    <ul>
      <% contacts.forEach(contact => { %>
        <li><%= contact.name %> - <%= contact.phone %> - <%= contact.email %></li>
      <% }) %>
    </ul>
  </body>
</html>

